/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('opensans/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('opensans/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('opensans/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('opensans/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('opensans/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('opensans/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('opensans/open-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('opensans/open-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('opensans/open-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('opensans/open-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('opensans/open-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('opensans/open-sans-v13-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('opensans/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('opensans/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('opensans/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('opensans/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('opensans/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('opensans/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('merriweather/merriweather-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather'), local('Merriweather-Regular'),
       url('merriweather/merriweather-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather/merriweather-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather/merriweather-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('merriweather/merriweather-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather/merriweather-v13-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('merriweather/merriweather-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Black'), local('Merriweather-Black'),
       url('merriweather/merriweather-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather/merriweather-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather/merriweather-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('merriweather/merriweather-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather/merriweather-v13-latin-900.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url('merriweather/merriweather-v13-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
       url('merriweather/merriweather-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather/merriweather-v13-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather/merriweather-v13-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('merriweather/merriweather-v13-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather/merriweather-v13-latin-900italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}