/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('poppins/poppins-v1-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('poppins/poppins-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins/poppins-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins/poppins-v1-latin-500.woff') format('woff'), /* Modern Browsers */
       url('poppins/poppins-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins/poppins-v1-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('poppins/poppins-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('poppins/poppins-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('poppins/poppins-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('poppins/poppins-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('poppins/poppins-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('poppins/poppins-v1-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('opensans/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('opensans/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('opensans/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('opensans/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('opensans/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('opensans/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('opensans/open-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('opensans/open-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('opensans/open-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('opensans/open-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('opensans/open-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('opensans/open-sans-v13-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('opensans/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('opensans/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('opensans/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('opensans/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('opensans/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('opensans/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}